<div class="row" style="margin-bottom: 10px;">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<h3 *ngIf="!recipe">Please select recipe</h3>

<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe?.name}}</h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    {{recipe?.description}}
  </div>
</div>



<div class="row" *ngIf="recipe">
  <div class="col-xs-12">
    <h3 >Ingredients: </h3>
    <p *ngFor="let ingredient of recipe?.ingredients" class="ingredient">{{ingredient.name}}, {{ingredient.amount}} </p>
  </div>
</div>
